*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    color: whitesmoke;
}
.container{
    line-height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
button{
    height: 20px;
    width: 70px;
}